
# BEGIN INDEX
# Строки между `BEGIN INDEX` и `END INDEX` были созданы автоматически.
# Они могут быть изменены только фильтрами WordPress.
# Все изменения между этими отметками будут перезаписаны.
Options -Indexes
# END INDEX